.dark-color-theme {
    color: #fff;
}

.dark-color-theme .table {
    color: #000;
    background-color: #fff;
}

.dark-color-theme .table thead th {
    background-color: rgba(237, 237, 237, 1);
    border-bottom: 0;
}

.dark-color-theme .table tbody td {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e0e0e0;
}

.dark-color-theme .table tbody tr.warning-quantity {
    background-color: rgba(238, 238, 238, 1);
}

.dark-color-theme .table tbody tr.warning-quantity {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}

.dark-color-theme .table tbody tr.empty-quantity {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}