html, body,
#root,
#inner-app {
    min-height: 100vh;
    box-sizing: border-box;
}

#inner-app {
    transition: all .3s ease-in-out;
}

body {
    min-width: 320px;
    margin: 0;

    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Arial, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;

    background-color: #2b2f32;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    overflow-x: hidden !important;
}

a {
    color: #ffffff;
    transition: all .2s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}


.light-color-theme {
    color: #000;
    /*background-color: #2b2f32;*/
}

.dark-color-theme {
    color: #fff;
    /*background-color: #171615;*/
}


.relative {
    position: relative;
}

.overlay {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .4);
}


.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    padding: .375rem .75rem;
    font-size: .95rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: #075ed7;
    border-color: #0a58ca;
    box-shadow: 0 0 20px 0.2rem rgba(49, 132, 253, .2);
}

.btn-light {
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-light:hover {
    color: #000;
    background-color: #f9fafb;
    border-color: #f9fafb;
}

.btn-check:focus + .btn-light, .btn-light:focus {
    color: #000;
    background-color: #f9fafb;
    border-color: #f9fafb;
    box-shadow: 0 0 0 0.20rem rgba(211, 212, 213, .5);
}

.btn-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}

.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-dark {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}

.btn-dark:hover {
    color: #fff;
    background-color: #1c1f23;
    border-color: #1a1e21;
}

.btn-check:focus + .btn-dark, .btn-dark:focus {
    color: #fff;
    background-color: #1c1f23;
    border-color: #1a1e21;
    box-shadow: 0 0 0.2rem 0.2rem rgba(66, 70, 73, .3);
}

@media (max-width: 992px) {
    .btn {
        font-size: .9rem;
    }
}

@media (max-width: 767px) {
    .btn {
        font-size: .6rem;
    }
}

.h-100 {
    height: 100%;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    outline: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}