.page-footer .copyright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 10px 0;

    font-size: 12px;
    line-height: 2;
}

.page-footer .copyright a {
    font-weight: 500;
}

.page-footer .copyright p {
    margin: 0
}