.table {
    width: 100%;
    position: relative;
    z-index: 1;

    font-weight: 500;
    text-align: center;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-collapse: collapse;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: rgba(0, 0, 0, .3);
}

.table-dark {
    color: #fff;
    background-color: #202124;
}

.table-dark thead th {
    border-bottom: 1px solid;
}

.table-dark td, .table-dark th, .table-dark thead th {
    padding: 12px;
    border-color: #dee2e6;
}